body {
    font-family: Arial, sans-serif;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#question-container {
    margin: 20px 0;
}

#flowchart {
    margin-top: 20px;
    position: relative;
    height: 600px;
    width: 100%;
}

.node {
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.link {
    stroke: #000000;
    stroke-width: 2px;
    marker-end: url(#arrow);
}

text {
    font-size: 12px;
}

#arrow {
    fill: #000000;
    stroke: none;
}
